<html>
<body>
    <h1>Adeleke University,</h1>
    <h2>Ede, Osun State</h2>
    <h3>P.M.B 250, Loogun-Ogberin Road, Ede, Osun State.</h3>
    <h4>Education | Excellence | Character</h4>
    <p>
        Name: {{ student.user.get_full_name }}<br>
        Level: {{ student.level}}<br>
        Matric No: {{ student.id_number }}
    </p>
    <table>
    <thead>
        <tr>
            <th class="number">S/N</th>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        {% for course in registered_courses %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ course.courseCode }}</td>
                <td>{{ course.courseTitle }}</td>
                <td>{{ course.courseUnit }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        {% if total_registered_unit %}
        <tr>
            <th>Total Units</th>
            <td></td>
            <td></td>
            <td>{{ total_registered_unit }}</td>
        </tr>
        {% endif %}
    </tfoot>
    </table>
</body>
</html>