# created by virtualenv automatically
.idea/
venv/
#.env
allocation.csv
db.sqlite3
.vscode/
env/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
