.details{
    margin-right: 5%;
    margin-left: 4%;
}
#leads{
    /* border: 2px solid black; */
    display: flex;
    text-align: center;
}
.details3{
    font-size: larger;
}
#brand, #logo{
    margin-right: 1%;
}
#brand{
    /* border: 1px solid red; */
    width: 55%;
    /* display: ; */
}
.logo{
    /* border: 1px solid black; */
    width: 21.5%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#contain{
    display: flex;
}
#logo{
}
#image{
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    /* border: 1px solid black; */
    padding: 10px 10px;
    text-align: center;
}
thead{
    background-color: grey;
}
tr:nth-child(even){
    background-color: lightgray;
}